extends layout

block content
  #debt-solver-app
    header
      h1= title
      p Welcome to #{title}
      p This app was written to help solve the all-too-familiar problem of paying off one's debt.

    section#main
      p Let's begin by adding your debt accounts.
      a#create-account.button Add Account
      ul#account-list.no-bullet.small-block-grid-3

    script(type="text/javascript" src="javascripts/libs/jquery-2.1.0.min.js")
    script(type="text/javascript" src="javascripts/libs/foundation-5.2.0.min.js")
    script(type="text/javascript" src="javascripts/libs/underscore-1.6.0.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone-1.1.2.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone.localStorage-1.1.7.min.js")
    script(type="text/javascript" src="javascripts/debt-solver.js")

    script(type="text/template" id="account-template").
      <div class="account">
        <label for="<%= id %>-name">Account Name</label>
        <input id="<%= id %>-name" class="name" type="text" value="<%= name %>" />
        <label for="<%= id %>-initialBalance">Initial (Current) Balance</label>
        <input id="<%= id %>-initialBalance" class="initialBalance" type="text" value="<%= initialBalance %>" />
        <label for="<%= id %>-apr">APR (.xxxx)</label>
        <input id="<%= id %>-apr" class="apr" type="text" value="<%= apr %>" />
        <label for="<%= id %>-minimumPayment">Minimum Monthly Payment</label>
        <input id="<%= id %>-minimumPayment" class="minimumPayment" type="text" value="<%= minimumPayment %>" />
        <a class="button save">Save</a>
        <a class="button secondary cancel">Cancel</a>
        <a class="button alert delete">Delete</a>
      </div>

    script.
      $(document).foundation();
