extends layout

block content
  #debt-solver-app
    header
      h1= title
      p Welcome to #{title}
      p.
        This app was written to help solve the all-too-familiar problem
        of paying off one's debt.

    section#accounts
      p Let's begin by adding your debt accounts.
      a#create-account.button Add Account
      a#accounts-done.button.hidden Done Adding Accounts
      ul#account-list.no-bullet.small-block-grid-3

    section#basics.hide
      p.
        Great!  Now that we know about your debt, let's do some basic math
        to figure out where we stand.
      ul#basics-list.no-bullet.small-block-grid-3

    script(type="text/javascript" src="javascripts/libs/jquery-2.1.0.min.js")
    script(type="text/javascript" src="javascripts/libs/foundation-5.2.0.min.js")
    script(type="text/javascript" src="javascripts/libs/underscore-1.6.0.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone-1.1.2.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone.localStorage-1.1.7.min.js")
    script(type="text/javascript" src="javascripts/debt-solver.js")

    script(type="text/template" id="account-template").
      <div class="account">
        <div class="edit<%= isNew ? '' : ' hide' %>">
          <label for="<%= id %>-name">Account Name</label>
          <input id="<%= id %>-name" class="name" type="text" value="<%= name %>" />
          <label for="<%= id %>-initialBalance">Initial (Current) Balance</label>
          <input id="<%= id %>-initialBalance" class="initialBalance" type="text" value="<%= initialBalance %>" />
          <label for="<%= id %>-apr">APR (.xxxx)</label>
          <input id="<%= id %>-apr" class="apr" type="text" value="<%= apr %>" />
          <label for="<%= id %>-minimumPayment">Minimum Monthly Payment</label>
          <input id="<%= id %>-minimumPayment" class="minimumPayment" type="text" value="<%= minimumPayment %>" />
          <a class="button save">Save</a>
          <a class="button secondary cancel">Cancel</a>
          <a class="button alert delete">Delete</a>
        </div>
        <div class="view<%= isNew ? ' hide' : '' %>">
          <h3><%= name %></h3>
          <table>
            <tr>
              <td><strong>Initial (Current) Balance</strong></td>
              <td>$<%= initialBalance %></td>
            </tr>
            <tr>
              <td><strong>APR (.xxxx)</strong></td>
              <td><%= apr %></td>
            </tr>
            <tr>
              <td><strong>Minimum Monthly Payment</strong></td>
              <td>$<%= minimumPayment %>/month</td>
            </tr>
          </table>
          <a class="button edit-button">Edit</a>
        </div>
      </div>

    script(type="text/template" id="account-basics-template").
      <h2><%= name %></h2>
      <p>Paying only the minimum monthly payment of $<%= minimumPayment %>/month,
      it will take you <%= months %> months to pay off this account in full.</p>
      <p>You will end up paying $<%= futureValue %> total, $<%= interest %> of which
      will be interest.</p>

    script.
      $(document).foundation();
