extends layout

block content
  #debt-solver-app
    header
      h1= title
      p Welcome to #{title}
      p.
        This app was written to help solve the all-too-familiar problem
        of paying off one's debt.

    section#accounts
      p Let's begin by adding your debt accounts.
      a#add-account.button Add Account
      a#accounts-done.button.hidden Done Adding Accounts
      ul#account-list.no-bullet.small-block-grid-3

    section#basics.hide
      p.
        Great!  Now that we know about your debt, let's do some basic math
        to figure out where we stand.
      .row.full-width
        #basics-list.small-8.column
        .small-4.column.panel
          p.
            <em>"How did you do that?"</em>, you may wonder.  The formulas used
            to calculate the numbers you see here were put together based on a
            couple different formulas.  See <a href="http://www.patrickschneider.com/blog/2008/03/compound-interest-with-an-initial-balance-and-monthly-contributions/">
            this blog post</a> for more details.  The gist of it is that I combined the
            Capital Accumulation Formula:
            \[ FV = PV * (1+i)^n \]
            with the Future Value of a Series Formula:
            \[ FV = PMT * \frac{(1+i)^n-1}{i} \]
            to derive several new formulas.
          p In the above:
            ul
              li FV = Future Value
              li PV = Present Value
              li PMT = Periodic Payment Amount
              li i = interest rate per period
              li n = number of periods
          p.
            Simply adding the two formulas together yields
            the future value of the debt, assuming monthly compounded interest is added, and
            monthly payments are subtracted.  Simplifying this formula, we get:
            \[ futureValue = initialBalance * ({1+\frac{apr}{12}})^{months} \]
            From there, I was able to derive the following formula, which yields the number of
            months it will take for the debt to be completely paid off:
            \[ monthsToPayoff = \frac{\log{(\frac{\frac{-monthlyPayment}{\frac{apr}{12}}}{initialBalance-\frac{monthlyPayment}{\frac{apr}{12}}})}}{\log{(1+\frac{apr}{12})}} \]
      p.
        If you're like me, you probably aren't too happy with these results.  Let's see what we can do
        to fix that by taking out a consolidation loan.
      a#add-loan.button Add Loan
      ul#loan-list.no-bullet.small-block-grid-3

    script(type="text/javascript" src="javascripts/libs/jquery-2.1.0.min.js")
    script(type="text/javascript" src="javascripts/libs/fastclick-0.6.12.min.js")
    script(type="text/javascript" src="javascripts/libs/foundation-5.2.0.min.js")
    script(type="text/javascript" src="javascripts/libs/underscore-1.6.0.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone-1.1.2.min.js")
    script(type="text/javascript" src="javascripts/libs/backbone.localStorage-1.1.7.min.js")
    script(type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    script(type="text/javascript" src="javascripts/debt-solver.js")

    script(type="text/template" id="editor-template").
      <div class="edit<%= isNewObject ? '' : ' hide' %>">
        <label for="<%= id %>-name">Account Name</label>
        <input id="<%= id %>-name" class="name" type="text" value="<%= name %>" />
        <label for="<%= id %>-initialBalance">Initial (Current) Balance</label>
        <input id="<%= id %>-initialBalance" class="initialBalance" type="text" value="<%= initialBalance %>" />
        <label for="<%= id %>-apr">APR (.xxxx)</label>
        <input id="<%= id %>-apr" class="apr" type="text" value="<%= apr %>" />
        <label for="<%= id %>-minimumPayment">Minimum Monthly Payment</label>
        <input id="<%= id %>-minimumPayment" class="minimumPayment" type="text" value="<%= minimumPayment %>" />
        <a class="button save">Save</a>
        <a class="button secondary cancel">Cancel</a>
        <% if (!isNewObject) { %><a class="button alert delete">Delete</a><% } %>
      </div>

    script(type="text/template" id="account-template").
      <div class="account">
        <% include editor-template %>
        <div class="view<%= isNewObject ? ' hide' : '' %>">
          <h3><%= name %></h3>
          <table>
            <tr>
              <td><strong>Initial (Current) Balance</strong></td>
              <td>$<%= initialBalance %></td>
            </tr>
            <tr>
              <td><strong>APR (.xxxx)</strong></td>
              <td><%= apr %></td>
            </tr>
            <tr>
              <td><strong>Minimum Monthly Payment</strong></td>
              <td>$<%= minimumPayment %>/month</td>
            </tr>
          </table>
          <a class="button edit-button">Edit</a>
        </div>
      </div>

    script(type="text/template" id="loan-template").
      <div class="loan">
        <% include editor-template %>
        <div class="view<%= isNewObject ? ' hide' : '' %>">
          <h3><%= name %></h3>
          <table>
            <tr>
              <td><strong>Initial (Current) Balance</strong></td>
              <td>$<%= initialBalance %></td>
            </tr>
            <tr>
              <td><strong>APR (.xxxx)</strong></td>
              <td><%= apr %></td>
            </tr>
            <tr>
              <td><strong>Minimum Monthly Payment</strong></td>
              <td>$<%= minimumPayment %>/month</td>
            </tr>
          </table>
          <div>
            <% include loan-details-template %>
          </div>
          <a class="button edit-button">Edit</a>
        </div>
      </div>

    script(type="text/template" id="loan-details-template").
      <p>Paying only the minimum monthly payment of $<strong><%= minimumPayment %></strong>/month,
      it will take you <strong><%= months %></strong> months to pay off this debt in full.</p>
      <p>You will end up paying <strong>$<%= futureValue %></strong> total, <strong>$<%= interest %></strong> of which
      will be interest.</p>

    script(type="text/template" id="account-basics-template").
      <dl class="tabs" data-tab>
        <% _.each(data, function(acct, index) { %>
          <dd<%= index == 0 ? ' class="active"' : '' %>><a href="#panel-<%= index+1 %>"><%= acct.name %></a></dd>
        <% }); %>
      </dl>
      <div class="tabs-content">
        <% _.each(data, function(acct, index) { %>
          <% var minimumPayment = acct.minimumPayment, months = acct.months, futureValue = acct.futureValue, interest = acct.interest; %>
          <div class="content<%= index == 0 ? ' active' : '' %>" id="panel-<%= index+1 %>">
            <% include loan-details-template %>
          </div>
        <% }); %>
      </div>
      <script>$(document).foundation();</script>

    script.
      $(document).foundation();
